# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=
#===DATABASE===
DATABASE_HOST=localhost
DATABASE_USER=username
DATABASE_PASSWORD=password
DATABASE_NAME=warehousedb
DATABASE_URL="mysql://username:password@localhost:3306/warehousedb"
